[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.5.0"
boto3 = "==1.21.27"
botocore = "==1.24.27"
dj-database-url = "==0.5.0"
django = "==4.0.3"
django-cors-headers = "==3.11.0"
django-environ = "==0.8.1"
django-heroku = "==0.3.1"
django-s3direct = "==2.0.0"
django-storages = "==1.12.3"
djangorestframework = "==3.13.1"
drf-writable-nested = "==0.6.4"
gunicorn = "==20.1.0"
jmespath = "==1.0.0"
mysqlclient = "==2.1.0"
pillow = "*"
psycopg2 = "==2.9.3"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
s3transfer = "==0.5.2"
six = "==1.16.0"
sqlparse = "==0.4.2"
urllib3 = "==1.26.9"
whitenoise = "==6.0.0"

[dev-packages]

[requires]
python_version = "3.11"
